body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  border: 1px solid black;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50%;
  width: 50%;
}

.innermost {
  border: 1px solid black;
  height: 50%;
  width: 50%;
}