body {
  margin: 0;
  height: 100vh;
}

@keyframes indetermiate-progress {
  0% {
    left: -70%;
  }

  100% {
    left: 100%;
  }
}

.progress-bar-container {
  height: 0.3rem;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 70%;
  background-color: rgb(2 20 255);
  animation-name: indetermiate-progress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}