body {
  margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  display: none;
  flex-basis: 50vw;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: beige;
}

.message {
  font-size: 3rem;
}

.key,
.keyCode {
  text-align: center;
  font-size: 8rem;
}